- if logged_in?
  .row
    .col-lg-3
      = avatar current_user
      %h4= current_user.name
      = render 'shared/stats'
    .col-lg-6.col-lg-offset-1
      = render 'shared/micropost_form'
  .row.posts.col-lg-6.col-lg-offset-3
    = render 'shared/posts'
- else
  = provide :title, 'Home'
  %h1 Welcome to MyPlan apllication
  %h3 Sign up now and share your workout results with the world!
  = link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary"
