- if logged_in?
  .container-fluid.logged-in
    .row#home-logged
      = render "shared/header"
      .column-1
        .user-info
          = render "shared/user_info"    
      .column-2
        .last-training
          %h4{style: "margin-left: 45%"} Last training
          //TABLE
        .training-calender
          %h4{style: "margin-left: 40%"} Training calendar
      .column-3
        .post-form
          = render "shared/micropost_form"
        .posts
          = render "shared/posts"
- else
  .container-fluid.non-logged-in
    .row
      .left-column
        .welcome
          = image_tag "logo.png"
          %h1 Welcome to MyPlan apllication
          %center
            %p Sign up now and share your workout results with the world!
            %h3#signup
              You don't have account?
              = link_to 'Sign up', '#new-user-modal', {class: "btn", 'data-toggle' => 'modal'}
      .right-column
        = render "shared/login_form"
  = render "shared/footer"

#modal-window.modal.fade{"role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden"=>"true"}
#new-user-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %center
          %h4#myModalLabel.modal-title Create new user
      .modal-body
        = render 'users/signup_form'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close