- if logged_in?
  = render "shared/header"
  .row
    .col-lg-3
      = avatar current_user
      %h4= current_user.name
      = render "shared/stats"
    .col-lg-6.col-lg-offset-1
      = render "shared/micropost_form"
  .row.posts.col-lg-6.col-lg-offset-3
    = render "shared/posts"
- else
  .container-fluid
    .row
      = provide :title, "Home"
      .left-column
        .welcome
          = image_tag "logo.png"
          %h1 Welcome to MyPlan apllication
          %center
            %p Sign in now and share your workout results with the world!
            %h3#signup
              You don't have account?
              = link_to "Sign up now!", signup_path, class: "btn"
      .right-column
        = render "shared/login_form"
  = render "shared/footer"
