= provide :title, 'Reset password'
.container-fluid.non-logged-in
  .row
    %h3#login
      Back to
      = link_to "login", root_url, class: "btn"
    .reset-password-email-form
      = render "shared/flash_error"
      = form_tag reset_path do
        .form
          = label_tag :email, "Type your email:", class: "label-form"
          = email_field_tag :email, nil, class: "input-form"
        = submit_tag "Send", class: "btn form-btn"
= render "shared/footer"
