= provide :title, 'Edit'

%h1 Edit my profile

.col-lg-6.col-lg-offset-3
  = form_for(@user) do |f|
    = render 'shared/errors', object: @user
    .form-group
      = f.label :name, class: 'form-labels'
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :email, class: 'form-labels'
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :avatar, class: 'form-labels'
      = f.file_field :avatar, accept: 'image/jpeg, image/png, image/gif'
    = f.submit 'Confirm', class: 'btn btn-lg btn-primary'
    

:javascript
  $('#user_avatar').bind('change', function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5){
      alert('Maximum filse size is 5MB. Please choose a smaller file');
    }
  });