= provide :title, @user.name
.container-fluid.logged-in
  .row
    = render "shared/header"
    .column-1
      .user-info#less-info
        = render "shared/user_info"
    .column-2
      .friends
        - if @users.any?
          %h2= @title
          %ul.users-list
            - @users.each do |user|
              .user
                %li
                  = avatar user
                  %strong= link_to user.name, user
        - elsif @title == "Following"
          %h2 
            Let's find some friends and start to follow them!
            = link_to "Users", users_path
        - else
          %h2 
            You have no followers :(
