= provide :title, 'Users'
.container-fluid.logged-in
  .row
    = render "shared/header"
    .column-1
      .user-info#less-info
        = render "shared/user_info"
    .column-2.scrollable
      .all-users
        %h2 
          All Users - 
          = @users.count
        %ul.users-list
          - @users.each do |user|
            .user
              %li
                = avatar user
                %strong= link_to user.name, user
                - if admin?(current_user)
                  |
                  = link_to "delete", user, method: :delete, 
                    data: { confirm: "Are you sure?" }