= provide :title, 'Users'

%h1 All Users
%ul.users-list
  - @users.each do |user|
    %li
      = avatar user
      = user.name
      |
      = user.email
      - unless admin?(user)
        |
        = link_to "delete", user, method: :delete, 
          data: { confirm: "Are you sure?" }