= provide :title, @user.name

.container-fluid.logged-in
  .row#show
    = render "shared/header"
    .column-1
      - unless correct_user(@user)
        .user-info#less-info
          = render "shared/user_info"
        .follow
          = render "follow_form"
      - else
        .user-info
          = render "shared/user_info"
    .column-2.scrollable
      .activity
        .header
          %center
            %h4 Activity
        .trainings

        .posts
          = render "shared/posts"
    .column-3
      = render "shared/edit_profile"

#modal-window.modal.fade{"role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden"=>"true"}
